
/* This is External code CSS for desigining */

p{
    background-color: rgb(111, 0, 238);
    color: rgb(27, 14, 10);
}
iframe{
    
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;

}